/* Form controls */
@include form-control-placeholder(#6c757c, 1);

input{
  color: black !important;
}

.form-control{
  padding: 19px !important;
  border-color: lighten($black,50%);
  border-radius: $border-radius-lg;
  font-size: $font-size-sm;
  @include transition-input-focus-color();


  &:focus{
    border-color: $primary;
    background-color: $input-bg;
    @include box-shadow(none);

    & + .input-group-append .input-group-text,
    & ~ .input-group-append .input-group-text,
    & + .input-group-prepend .input-group-text,
    & ~ .input-group-prepend .input-group-text{
        border: 1px solid $primary;
        border-left: none;
        background-color: $transparent-bg;
    }
  }

  .has-success &,
  .has-error &,
  .has-success &:focus,
  .has-error &:focus{
      @include box-shadow(none);
  }

  .has-danger &,
  .has-success &{
      &.form-control-success,
      &.form-control-danger{
          background-image: none;
      }
  }

  & + .form-control-feedback{
      border-radius: $border-radius-lg;
      margin-top: -7px;
      position: absolute;
      right: 10px;
      top: 50%;
      vertical-align: middle;
  }

  .open &{
      border-radius: $border-radius-lg $border-radius-lg 0 0;
      border-bottom-color: $transparent-bg;
  }

  & + .input-group-append .input-group-text,
  & + .input-group-prepend .input-group-text{
      background-color: $white;
  }

}

.has-success .input-group-append .input-group-text,
.has-success .input-group-prepend .input-group-text,
.has-success .form-control{
    border-color: lighten($black,5%);
}

.has-success .form-control:focus,
.has-success.input-group-focus .input-group-append .input-group-text,
.has-success.input-group-focus .input-group-prepend .input-group-text{
  border-color: darken($success, 10%);
}

.has-danger .form-control,
.has-danger .input-group-append .input-group-text,
.has-danger .input-group-prepend .input-group-text,
.has-danger.input-group-focus .input-group-prepend .input-group-text,
.has-danger.input-group-focus .input-group-append .input-group-text{
    border-color: lighten($danger-states,5%);
    color: $danger-states;
    background-color: rgba(222,222,222, .1);

    &:focus{
        background-color: $transparent-bg;
    }
}

.has-success,
.has-danger{
    &:after{
        font-family: 'nucleo';
        content: "\ea1b";
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 13px;
        color: $success;
        font-size: 11px;
    }

    &.form-control-lg{
      &:after{
        font-size: 13px;
        top: 24px;
      }
    }

    &.has-label{
      &:after{
        top: 37px;
      }
    }


    &.form-check:after{
      display: none !important;
    }

    &.form-check .form-check-label{
      color: $success;
    }
}

.has-danger{
  &:after{
    content: "\ea48";
    color: $danger-states;
  }

  &.form-check .form-check-label{
    color: $danger-states;
  }
}

.selPlant{
  margin-left: 2px;
  margin-top: 15px;
  width: 100%;
  height: 40px;
}
.selProfit{
  margin-left: 0px;
  margin-top: 1px;
  width: 100%;
  height: 38px;
  background: #a0a0a0;
  color: white;
}

.selLable{
  margin-left: -25px;
  margin-bottom: -8px;
}

.reportCount{
  font-size: 18px;
  font-weight: 700;
  color: #000 !important;
  text-align: center;
}

.reportType{
  // font-size: 11px;
  font-weight: 600;
  // color: #2dce89 !important;
  text-align: center;
}

.f-11{
  font-size: 11px;
}

.bg-vega{
  // background-color: #BDEBB3;
  // background-color: #ce93d8;
  background-color: #a0a0a0;
  border-bottom-left-radius: 5px;
  // background: linear-gradient($teal, #00acc1);
}
.bg-sap{
  // background-color: #018786;
  // background-color: #00acc1;
  background-color: #c0c0c0;
  border-bottom-right-radius: 5px;
  // background: linear-gradient($white, #9da7a7);
}
.c-black{
  color: #000 !important;
}
.c-vega{
  // color: #BDEBB3 !important;
  // color: #ce93d8 !important;
  // color: #00acc1 !important;
  // color: $teal !important;
  color: #00acc6 !important;
}

.c-sap{
  // color: #018786 !important;
  // color: #00acc1 !important;
  color: $white !important;
}

#tBody {
  tr {
    td {
      .c-typ{
        color: #fd5d93 !important;
      }
    }
  }
}

th{
  border: solid 1px #848484 !important;
}

td{
  border: solid 1px #848484 !important;
}

.bdr-vega{
  // border: 2px solid #BDEBB3 !important;
  // border: 2px solid #ce93d8 !important;
  border: 2px solid #00acc1 !important;
}
.bdr-sap{
  // border: 2px solid #018786 !important;
  // border: 2px solid #00acc1 !important;
  border: 2px solid $white !important;
}

.text-teal{
  color: $teal !important;
}

.fw-600{
  font-weight: 600 !important;
}

.c-green{
  color: #2dce89 !important;
}

.c-white{
  color: white !important;
}

.check{
  color: white !important;
}
.cursor{
  cursor: pointer;
}

.iconi{
  margin-right: 10px;
  color: $teal;
}
.c-teal{
  color: $teal;
}

.c-blue{
  color: #00acc1;
}

.car-title{
  margin-bottom: -0.50rem !important;
}
.error{
  font-size: 12px !important;
  color: red !important;
}

/* accordion styles change Start */
.mat-expansion-panel-header{
  // background: #404040 !important;
  // color: white !important;
}
.mat-expansion-panel{
  // background: #404040 !important;
}
.mat-expansion-indicator{
  color: $teal !important;
}
.mat-expansion-panel-content{
  // display: contents !important;
  // z-index: 999 !important;
  // overflow-y: scroll;
}

.reportBtn{
  padding-top: 1.75rem !important;
  margin-left: -0.7rem !important;
}
/* accordion styles change End */

.day {
  text-align: center;
  padding: 7px;
  border-radius: 1rem;
  width: 100% !important;
}
.ngb-dp-day{
  width: 100% !important;
  height: 100% !important;
}
.ngb-dp-weekday{
 width: 100% !important;
 height: 100% !important;
}

ngb-datepicker{
  left: 0px !important;
  top: 0px !important;
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  position: absolute !important;
  transform: translate(0px, 28px)!important;
  }


.f-10{
  font-size: 10px !important;
}

.f-9{
  font-size: 9px !important;
}

.f-8
{
  font-size: 8px !important;
}

.pt-18{
  padding-top: 1.8rem !important;
}

.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

// loader
svg {
  stroke: none;
  fill: var(--backgroundcolor);
}
.r1 {
  fill: #fff;
}
.big {
  transform: scale(5) translate(calc(-9px / 5), calc(-9px / 5));
  transform-origin: 100% 100%;
  transform-box: fill-box;
}
.r_ol {
  transform-origin: 0% 0%;
  transform-box: fill-box;
}

svg {
  .r_ol {
    animation: small2big 4s ease-in-out infinite;
  }
  .big {
    animation: big2small 4s ease-in-out infinite;
  }
  .r_or {
    animation: or2ol 4s ease-in-out infinite;
  }
  .r_ul {
    animation: ul2ol 4s ease-in-out infinite;
  }
  .g1 {
    animation: rot 8s ease infinite;
  }
}
@keyframes or2ol {
  0% {
    transform: scale(1) translate(0);
  }
  25% {
    transform: scale(1) translate(0);
  }
  50% {
    transform: scale(1) translate(-50px, 0);
  }
  50.001% {
    transform: scale(1) translate(0);
  }
}
@keyframes ul2ol {
  0% {
    transform: scale(1) translate(0);
  }
  75% {
    transform: scale(1) translate(0);
  }
  100% {
    transform: scale(1) translate(0, -50px);
  }
}

@keyframes small2big {
  0% {
    transform: scale(1) translate(0);
  }
  25% {
    transform: scale(5) translate(calc(9px / 5), calc(9px / 5));
  }
  50% {
    transform: scale(5) translate(calc(9px / 5), calc(9px / 5));
  }
  50.001% {
    transform: scale(1) translate(0);
  }
  75% {
    transform: scale(5) translate(calc(9px / 5), calc(9px / 5));
  }
  100% {
    transform: scale(5) translate(calc(9px / 5), calc(9px / 5));
  }
}
@keyframes big2small {
  0% {
    transform: scale(5) translate(calc(-9px / 5), calc(-9px / 5));
  }
  25% {
    transform: scale(1) translate(0);
  }
  50% {
    transform: scale(1) translate(0, -50px);
  }
  50.001% {
    transform: scale(5) translate(calc(-9px / 5), calc(-9px / 5));
  }
  75% {
    transform: scale(1) translate(0);
  }
  100% {
    transform: scale(1) translate(-50px, 0px);
  }
}

@keyframes rot {
  0% {
    transform: rotate(45deg);
  }

  12.5% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(135deg);
  }

  37.5% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(225deg);
  }

  62.5% {
    transform: rotate(225deg);
  }
  75% {
    transform: rotate(315deg);
  }
  87.5% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

.g1 {
  transform-origin: 50% 50%;
  transform: rotate(45deg);
}
* {
  transition: all 1s ease-in-out;
  --backgroundcolor: $tumblr;
}

.loaderParrent{
  margin-top: 18%;
  position: fixed;
  z-index: 1000;
  margin-left: 30%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid $teal;
  border-right: 16px solid $success;
  border-bottom: 16px solid $teal;
  border-left: 16px solid $success;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
